body  {
  background-color:rgb(242, 246, 248);
  font-family: 'Times New Roman', Times, serif;
  color:rgb(50, 50, 50);
  font-size: 18px ;
  line-height: 24px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color:rgb(39, 10, 202);
  font-size: 28px ;
  line-height: 32px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color:rgb(88, 40, 222);
  font-size: 24px ;
  line-height: 32px;
}

a  {
  color:rgb(106, 11, 95);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-size: 24px ;
}

.bold {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.container {
 margin : 0 auto;
 width: 750px;
}

.card {
  margin: 15px;
  padding: 30px;
  border-top: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200) ;
  border-left: 1px solid rgb(200, 200, 200) ;
  border-bottom: 1px solid rgb(200, 200, 200) ;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(81, 145, 179, 0.25)
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 800px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 600px;
  }
}

@media (max-width: 650px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 450px;
  }
}

@media (max-width: 500px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
